body{
    font-family: "Montserrat";
}

h3{
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 1.5rem;
}

p{
    color: #8f8f8f;
}


h1{
    font-family: 'Montserrat-Black', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    color: #fff;
}

h2{
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 2rem;
    line-height: 1.5;
}

.name{
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 2rem;
    line-height: 1.5;
}

.container-fluid2{
    padding: 3% 15%;
}


.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.container-fluid{
    padding: 0 0 4.5rem;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat";
}

.download-button{
    margin: 5% 3% 5% 0;
}
.title-image{
    width: 60%;
    transform: rotate(20deg);
}


.feature-box{
    text-align: center;
    padding: 5%;
}

.icon{
    color: #ef8172;
    padding-bottom: 1rem;
}

.icon:hover{
    color: #ff4c68;
}

.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

.carousel-item{
    padding: 7% 15%;
}

.pricing-column{
    padding: 3% 2%;
}

.c-icon{
    padding: 1rem;
}

#title{
    background-color: #ff4c68;
}

#features{
    padding: 7% 15%;
}

#testimonials{
    
    text-align: center;
    background-color: #f15f4c;
    color: #fff;
}

#press{
    background-color: #f15f4c;
    text-align: center;
    padding-bottom: 3%;
}

#pricing{
    padding: 100px;
    text-align: center;
}

#cta{
    background-color: #ff4c68;
    text-align: center;
    padding: 5%;
}
#cta h3{
    font-family: "Montserrat";
    font-weight: bold;
    color: #fff;
    font-size: 3.5rem;
}
#footer{
    background-color: #fff;
    text-align: center;
    padding: 4% 2%;
}


@media (max-width: 1028px){
    #title{
        text-align: center;
    }
    .title-image{
        position: static;
        transform: rotate(0);

    }
} 

@media (max-width: 150px){
    #cta h3{
        font-size: 2.5rem;
    }
}
